# Aula sobre imputação de dados

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')

In [3]:
aux = pd.DataFrame({'Colunas': df.columns,
                     'Tipos': df.dtypes, 
                      'Percentual_Faltante': df.isna().sum() / df.shape[0]})

In [4]:
aux

                 Colunas    Tipos  Percentual_Faltante
PassengerId  PassengerId    int64             0.000000
Survived        Survived    int64             0.000000
Pclass            Pclass    int64             0.000000
Name                Name   object             0.000000
Sex                  Sex   object             0.000000
Age                  Age  float64             0.198653
SibSp              SibSp    int64             0.000000
Parch              Parch    int64             0.000000
Ticket            Ticket   object             0.000000
Fare                Fare   object             0.000000
Cabin              Cabin   object             0.771044
Embarked        Embarked   object             0.002245

Nesse exemplo, vamos usar a média nos dados faltantes. Mas vale lembrar que é extremamente importante fazer um estudo detalhado em cada caso específico, pois em algumas situações pode haver outras formas mais eficientes de tratar esse tipo de situação.

In [5]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

Na coluna "Cabin", podemos ver que 77% dos dados são faltantes. Muito provavel que essa seja uma coluna descartável no dataset. Novamente, vale lembrar, que isso irá depender do contexto dessa análise.

In [6]:
df['Cabin'] = df['Cabin'].fillna('Unknow')

In [7]:
df['Cabin'].value_counts()

Unknow         687
C23 C25 C27      4
G6               4
B96 B98          4
F2               3
              ...
D50              1
E68              1
C90              1
D30              1
C110             1
Name: Cabin, Length: 148, dtype: int64